.header {
  background-color: #1F2937;
  color: white;
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  gap: 16px;
  align-items: center;
}

li {
  list-style: none;
}

.logo {
  margin-left: 100px;
}

.main {
  background-color: #1F2937;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.main-text {
  width: 70%;
  padding-left: 120px;
  display: flex;
  flex-direction: column;
}

.main-img {
  display: grid;
  place-items: center;
}

.main-signup {
  width: 70px
}

img {
  width: 70%;
  height: auto;
  padding: 10px;
  margin-right: 20px;

}